<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="/min/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/min/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/min/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="min/css/ngCropper.all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/customStyle.css" />
     <link rel="stylesheet" type="text/css" href="/css/jquery.modal.css" />
    <link rel="icon" href="logo.jpg" />
    <title>Login / Sign-Up</title>
  </head>
  <body class="loginBody">
    <div class="col-sm-12 font tColorWhite">
      <div class="col-sm-12 height11"></div>
      <div class="col-sm-6">        
        <h2>Polestar Solutions</h2>
      </div>
      <!-- login form -->
      <form name="loginForm" id="loginForm" method="post">
        <div class="col-sm-6 font tColorWhite">
          <div class="col-sm-5  paddingLeft0">
            <div class="col-sm-12"><span>Email</span></div>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div> 
                <input id="loginEmail" type="text" name="loginEmail" class="form-control " onfocusout="emailValidate('#loginEmail', 'loginForm')" value="<%=email%>"/>
              </div>
            </div>
            <div class="col-sm-12">
              <span class="error" id="errorEmail"></span>
              <span class="success" id="successEmail"><% if(error!==''){ %>Email verified <% } %></span>
            </div>
          </div>
          <div class="col-sm-5 paddingLeft0">
            <div class="col-sm-12"><span>Password</span></div>   
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div> 
                <input type="password" id="loginPassword" name="loginPassword" class="form-control" />
              </div>
            </div>
            <div class="col-sm-12"><span class="error" id="errorLoginPassword"><%=error%></span></div>
          </div>
          <div class="col-sm-2 paddingLeft0 paddingRight0">
            <div class="col-sm-12 height20"></div>
            <div class="col-sm-12">
              <input type="button" class="btn btn-primary form-control" id="loginBtn" name="Login" value="Login" onclick="validateLogin('#loginForm');" />
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="mainpage">
      <div class="col-sm-12 tColorWhite font tAlignCenter">
        <div class="col-sm-12">
          <h1>Web Developement - Custom Application - Bussiness Application</h1>
        </div>
        <div class="col-sm-12">
          <h1>Welcome Home</h1>
        </div>
        <div class="col-sm-12">
          <span><a href="#register-modal" rel="modal:open" class="tColorBlue">Register Now</a></span>
        </div>
        <div class="col-sm-12 height11"></div>
        <div class="col-sm-12">
          <span>Already registered user please <a href="#login_modal" rel="modal:open" class="tColorBlue">Login</a> here</span>
        </div>
      </div>
    </div>

    <!-- registeration modal -->
    <div id="register-modal" class="heightAuto width65" style="display:none;">
      <div class="col-sm-12 tAlignCenter bColorCCC lineHeight41 font">
        <strong>Sign Up</strong>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <form method="post" id="registerForm" name="registerForm">
            <div class="col-sm-12 height20"></div>
            <div class="col-sm-12 font">
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Email</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div> 
                    <input type="text" class="form-control" id="registerEmail" name="registerEmail"  onfocusout="emailValidate('#registerEmail', 'registerForm')" />
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorEmailR"></span></div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Password</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div> 
                    <input type="password" class="form-control " id="registerPassword" name="registerPassword"/>
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorRegisterPassword"></span></div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Confirm Password</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div> 
                    <input type="password" class="form-control " id="confirmRegisterPassword" name="confirmRegisterPassword"/>
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorConfirmPassword"></span></div>
              </div>
            </div>
            <div class="col-sm-12 height11"></div>
            <div class="col-sm-12 font">
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Address Line 1</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                    <input type="text" class="form-control" id="address1" name="address1"/>
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorAddress"></span></div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Address Line 2</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                    <input type="text" class="form-control" id="adress2" name="address2"/>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Address Line 3</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                    <input type="text" class="form-control" id="address3" name="address3"/>
                  </div>
                </div>
              </div>
            </div>  
            <div class="col-sm-12 height11"></div>
            <div class="col-sm-12 font">
               <div class="col-sm-4">
                <div class="col-sm-12"><span>Pin Code</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-qrcode" aria-hidden="true"></i></div>
                    <input class="form-control" type="text" name="pincode" id="pincode" maxlength="6">
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorPincode"></span></div>
              </div>
             <!-- <div class="col-sm-4">
                <div class="col-sm-12"><span>Country</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-road" aria-hidden="true"></i></div>
                    <select class="form-control" id="country" name="country">
                      <option value="INDIA" selected>INDIA</option>    
                    </select>
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorCountry"></span></div>
              </div>-->
              <div class="col-sm-4">
                <div class="col-sm-12"><span>State</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-road" aria-hidden="true"></i></div>
                    <select class="form-control location" id="state" name="state">
                  	<option value="" selected="selected" disable="" style="display:none">State</option>
					<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
					<option value="Andhra Pradesh">Andhra Pradesh</option>
					<option value="Arunachal Pradesh">Arunachal Pradesh</option>
					<option value="Assam">Assam</option>
					<option value="Bihar">Bihar</option>
					<option value="Chandigarh">Chandigarh</option>
					<option value="Chattisgarh">Chattisgarh</option>
					<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
					<option value="Daman and Diu">Daman and Diu</option>
					<option value="Delhi">Delhi</option>
					<option value="Goa">Goa</option>
					<option value="Gujarat">Gujarat</option>
					<option value="Haryana">Haryana</option>
					<option value="Himachal Pradesh">Himachal Pradesh</option>
					<option value="Jammu and Kashmir">Jammu and Kashmir</option>
					<option value="Jharkhand">Jharkhand</option>
					<option value="Karnataka">Karnataka</option>
					<option value="Kerala">Kerala</option>
					<option value="Lakshadweep">Lakshadweep</option>
					<option value="Madhya Pradesh">Madhya Pradesh</option>
					<option value="Maharashtra">Maharashtra</option>
					<option value="Manipur">Manipur</option>
					<option value="Meghalaya">Meghalaya</option>
					<option value="Mizoram">Mizoram</option>
					<option value="Nagaland">Nagaland</option>
					<option value="Odisha">Odisha</option>
					<option value="Puducherry">Puducherry</option>
					<option value="Punjab">Punjab</option>
					<option value="Rajasthan">Rajasthan</option>
					<option value="Sikkim">Sikkim</option>
					<option value="Tamil Nadu">Tamil Nadu</option>
					<option value="Telangana">Telangana</option>
					<option value="Tripura">Tripura</option>
					<option value="Uttar Pradesh">Uttar Pradesh</option>
					<option value="Uttarakhand">Uttarakhand</option>
					<option value="West Bengal">West Bengal</option>
					</select>
                   </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorState"></span></div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12"><span>City</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-road" aria-hidden="true"></i></div>
                    <input type="text" name="city" class="form-control" id="city" size="30" value="" maxlength="30">
                    <!--<select class="form-control" id="city" name="city">
                      <option value="EAST DELHI" selected>EAST DELHI</option>
                      <option value="PATNA">PATNA</option>
                      <option value="GOA">GOA</option>
                      <option value="JAMU">JAMU</option>
                      <option value="LAH">LAH</option>    
                    </select>-->
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorCity"></span></div>
              </div>
            </div>  
            <div class="col-sm-12 height25"></div>
            <div class="col-sm-12 font">
           <!--   <div class="col-sm-4">
                <div class="col-sm-12"><span>Pin Code</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-qrcode" aria-hidden="true"></i></div>
                    <input class="form-control" type="text" name="pincode" id="pincode" maxlength="6">
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorPincode"></span></div>
              </div>-->
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Contact No.</span></div>
                <div class="col-sm-12"> 
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <input type="text" class="form-control" id="contactno" name="contactno" maxlength="10" />
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorContact"></span></div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Contact Person</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                    <input type="text" class="form-control" id="contactperson" name="contactperson"/>
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorContactPerson"></span></div>
              </div>
            </div>  
            <div class="col-sm-12 font">
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Company Name</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-bank" aria-hidden="true"></i></div> 
                    <input type="text" class="form-control " id="company" name="company"/>
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorCompany"></span></div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Industry Type</span></div>
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-bank" aria-hidden="true"></i></div>
                    <select class="form-control" id="industryType" name="industryType">
                      <option value="1">INDUSTRY 1</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorIndustryType"></span></div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12"><span>Company Type</span></div>
                <div class="col-sm-12">
                  <input type="hidden" id="companyType" name="companyType">
                  <div class="col-sm-6 paddingLeft0">
                    <div class="checkBox">
                      <span id="companyType1Yes"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                      <span id="companyType1No" onclick="showHideRadio('#companyType1Yes', '#companyType2No', '#companyType1No', '#companyType2Yes', '#companyType', 'COMPANY');"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
                    </div>
                    <span>Company</span>
                  </div>
                  <div class="col-sm-6 paddingLeft0 paddingRight0">
                    <div class="checkBox">
                      <span id="companyType2Yes"><i class="fa fa-check-circle-o" aria-hidden="true"></i></span>
                      <span id="companyType2No" onclick="showHideRadio('#companyType1No', '#companyType2Yes', '#companyType1Yes', '#companyType2No', '#companyType', 'CONSULTANT');"><i class="fa fa-circle-o" aria-hidden="true"></i></span>
                    </div>
                    <span>Consultant</span>
                  </div>
                </div>
                <div class="col-sm-12"><span class="error" id="errorComapnyName"></span></div>
              </div>
            </div>
            <div class="col-sm-12 height11"></div>
            <div class="col-sm-12 font">
              <div class="col-sm-3 col-sm-offset-3">
                <input type="button" class="btn btn-primary form-control" id="registerBtn" name="registerNow" value="Register Now" onclick="validateRegidter()" />
              </div>
              <div class="col-sm-3">
                <input type="button" class="btn btn-warning form-control" value="Cancel" onclick="closeModal('#registerModalClose');">
                <span class="hide"><a id="registerModalClose" href="#" rel="modal:close" >Cancel</a></span>
              </div>
              <div class="col-sm-12 height11"></div>
              <div class="col-sm-12 tAlignCenter">
                <span>Already Registered User Please <a href="#login_modal" rel="modal:open" class="tColorBlue">LogIn</a> here</span>
              </div>
              <div class="col-sm-12 height25"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End of Registeration modal -->

    <!-- login modal  -->
    <div id="login_modal" style="display:none;">
      <div class="col-sm-12 tAlignCenter bColorCCC lineHeight41 font">
        <span>Login</span>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12 height25"></div>
        <form name="modalLoginForm" id="modalLoginForm" method="post">
          <div class="col-sm-12 font">
            <div class="col-sm-12"><span>Email</span></div>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div> 
                <input type="text" class="form-control " id="modalEmailLogin" name="loginEmail" onfocusout="emailValidate('#modalEmailLogin', 'modalLoginForm');" />
              </div>
            </div>
            <div class="col-sm-12">
              <span class="error" id="errorEmailLogin"></span>
              <span class="success" id="successEmailLogin"></span>
            </div>
          </div>
          <div class="col-sm-12 font">
            <div class="col-sm-12"><span>Password</span></div>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div> 
                <input type="password" class="form-control" id="modelPasswordLogin" name="loginPassword" />
              </div>
            </div>
          </div>
          <div class="col-sm-12 height25"></div>
          <div class="col-sm-12 font">
            <div class="col-sm-5 col-sm-offset-1">
              <input type="button" class="btn btn-primary form-control" id="modalLoginBtn" name="Login" value="Login" onclick="validateLogin('#modalLoginForm');" />
            </div>
            <div class="col-sm-5">
              <input type="button" class="btn btn-warning form-control" value="Cancel" onclick="closeModal('#inputModalClose');">
              <span class="hide"><a id="inputModalClose" rel="modal:close" href="#">Cancel</a></span>
            </div>
          </div>
          <div class="col-sm-12 height11"></div>
          <div class="col-sm-12 font tAlignCenter" id="forget">
            <span>Having trouble in LogIn <a href="#forget-modal" rel="modal:open" class="tColorBlue">Click Here</a></span>
          </div>
          <div class="col-sm-12 height25"></div>
        </form>
      </div>     
    </div>

    <!-- Forget modal  -->
    <div id="forget-modal" style="display: none;">
      <div class="col-sm-12 tAlignCenter bColorCCC lineHeight41 font">
        <span>Send Password</span>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12 height25"></div>
        <div class="col-sm-12 font">
          <div class="col-sm-12"><span>Email</span></div>
          <div class="col-sm-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div> 
              <input type="text" class="form-control " id="forgetEmail" name="forgetEmail"/>
            </div>
          </div>
          <div class="col-sm-12"><span class="error" id="errorForgetEmail"></span></div>
        </div>
        <div class="col-sm-12 height20"></div>
        <div class="col-sm-12 font">
          <div class="col-sm-5 col-sm-offset-1">
            <input type="button" class="btn btn-primary form-control" name="Submit" value="Mail Me"/>
          </div>
          <div class="col-sm-5">
            <input type="button" class="btn btn-warning form-control" value="Cancel" onclick="closeModal('#forgetModalClose');">
            <span class="hide"><a id="forgetModalClose" rel="modal:close" href="#">Cancel</a></span>
          </div>
        </div>
        <div class="col-sm-12 height25"></div>
      </div>
    </div>
    <script src='min/js/jQuery.min.js'></script>
    <script src="js/jquery.modal.js"></script>
    <script src="js/service.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
