<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" type="text/css" href="/min/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/min/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/min/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="min/css/ngCropper.all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/customStyle.css" />
     <link rel="stylesheet" type="text/css" href="/css/jquery.modal.css" />
    <link rel="icon" href="logo.jpg" />
    <title>Login / Sign-Up</title>
  </head>
  <body class="loginBody">
    <div class="col-sm-12 font tColorWhite">
      <div class="col-sm-12 height11"></div>
      <div class="col-sm-6">        
        <h2>Polestar Solutions</h2>
      </div>
      <div class="col-sm-1 col-sm-offset-5"><span><a href="#logoutConfirm" rel="modal:open" class="tColorBlue cursorPointer"><i class="fa fa-power-off" aria-hidden="true"></i> LogOut</a></span></div>
      <div class="col-sm-12"></div>
      
      <!-- otp form -->
      <form name="otpForm" id="otpForm" method="get">
        <div class="col-sm-7 mLeft38 font tColorWhite mTop14">
          <div class="col-sm-6  paddingLeft0">
            <div class="col-sm-12"><span>OTP</span></div>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div> 
                <input id="otp" type="text" name="otp" class="form-control " maxlength="6" />
              </div>
            </div>
            <div class="col-sm-12 height11"></div>
            <div class="col-sm-12">
              <span class="cursorPointer tColorBlue" onclick="resendOtp();">Resend OTP</span>
            </div>
          </div>
          <div class="col-sm-12 height11"></div>
          <div class="col-sm-3 mLeft12 paddingLeft0 paddingRight0">
            <div class="col-sm-12">
              <input type="button" class="btn btn-primary form-control" id="otpVerifyBtn" name="otpVerifyBtn" value="Verify Email" onclick="validateOtp('#otp');" />
            </div>
          </div>
          <div class="col-sm-12"></div>
          <div class="col-sm-6  paddingLeft0">
            <div class="col-sm-12">
              <span class="error" id="errorOtp"></span>
              <span class="success" id="successOtp"></span>
            </div>
          </div>
        </div>
      </form>
      <div class="col-sm-5 mLeft62 mTop-10 tColorBlue width38"><span id="loading"><i class="fa-li fa fa-spinner fa-spin fa-10x"></i></span></div>
    </div>

    <!-- Forget modal  -->
    <div id="logoutConfirm" style="display: none;">
      <div class="col-sm-12 tAlignCenter bColorCCC lineHeight41 font">
        <span>Confirm Logout</span>
      </div>
      <div class="col-sm-12">
       <form name="modalForgetEmail" id="modalForgetEmail" method="get" action="logout">
        <div class="col-sm-12 height25"></div>
        <div class="col-sm-12 font">
          <div class="col-sm-12"><span>Are you sure you want to logout...</span></div>
          <div class="col-sm-12"><span>You are just a step away from getting in.</span></div>
        </div>
        <div class="col-sm-12 height20"></div>
        <div class="col-sm-12 font">
          <div class="col-sm-5 col-sm-offset-1">
            <input type="submit" class="btn btn-primary form-control" id="frogetBtn" name="Submit" value="LogOut" />
          </div>
          <div class="col-sm-5">
            <input type="button" class="btn btn-warning form-control" value="Cancel" onclick="closeModal('#logoutModalClose');">
            <span class="hide"><a id="logoutModalClose" rel="modal:close" href="#">Cancel</a></span>
          </div>
        </div>
        <div class="col-sm-12 height25"></div>
        </form>
      </div>
    </div>
    <script src='min/js/jQuery.min.js'></script>
    <script src="js/jquery.modal.js"></script>
    <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
    <script src="js/service.js"></script>
    <script src="js/common.js"></script>
    <script src="js/otp.js"></script>
  </body>
</html>
