a:focus, a:hover {
    color: #00C0F2;
}

a > i:hover{
	color: green !important;
}

.bColorYellow {
  background-color: #FF0;
}

.bColorCCC {
  background-color: #CCC;
}

.bottom0 {
  bottom: 0px;
}

.btn {
  display: inline-block !important;
  padding: 3px 6px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-image: none !important;
  border-radius: 4px !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #00C0F2 !important;
  border-color: #00C0F2 !important;
  border: 1px solid #00C0F2 !important;
}

.btn-warning {
  color: #00C0F2 !important;
  background-color: #fff !important;
  border-color: #00C0F2 !important;
  border: 1px solid #00C0F2 !important;
}

.checkBox {
  float: left;
  margin-right: 5px;
  color: #00C0F2 !important;
}

.colorWhite {
  color: white !important;
}

.cursorPointer {
  cursor: pointer;
}

.error {
  color: #ff0000;
}

.fa{
  cursor: default !important;
}

.fa-10x {
    font-size: 10em;
}

.font{
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif/*"Open Sans"*/ !important;
  color: #555;
}

.footer {
    background-color: #f9f8f9;
    color: #444;
    border-top: 1px solid #d2d6de;
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    bottom: 0px;
    position:fixed;
    height: 51px;
}

.header {
  position: relative;
  max-height: 100px;
  min-height: 51px;
  background-color: #c1c1c1;
  color: #eee;
  width: 100%;
}

.heightAuto {
  height: auto !important;
}

.height11 {
  height: 11px;
}

.height20{
  height:20px;
}

.height25 {
  height: 25px;
}

.height41 {
  height: 41px;
}

.height50 {
  height: 50px;
}

.height60 {
  height: 60px;
}

.height200 {
  height: 200px;
}

input[type='email'] {
  border: 1px solid #CCC !important;
  color: #555;
  height: 30px;
}

input[type="text"] {
  border: 1px solid #CCC !important;
  color: #555;
  height: 30px;
}

input[type="password"] {
  border: 1px solid #CCC !important;
  color: #555;
  height: 30px;
}

input[type="button"] {
  height: 30px;
}

input[type="submit"] {
  height: 30px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #fff !important;
    background-image: none;
    color: #555 !important;
    -webkit-text-fill-color: #555 !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.input-group-addon{
  background-color: #FFF !important;
  color: #ccc !important;
}

.input-group .form-control{
  z-index: 0 !important;
}

.leftBar {
    background-color: #eee;
    color: #555;
    left: 0;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.line {
  background-color: #919191;
  height: 2px;
  margin: 14px -1px;
}

.lineHeight41 {
  line-height: 41px;
}

.lineHeight400 {
  line-height: 400px;
}

.loginBody {
    background-color: #ecf0f5;
    color: #fff;
    background-image: url('../images/hero-img9.jpg');
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
}

.mLeft12 {
  margin-left: 12%;
}

.mLeft25 {
  margin-left: 25%;
}

.mLeft38 {
  margin-left: 38%;
}

.mLeft54 {
  margin-left: 54%;
}

.mLeft62 {
  margin-left: 62.5%
}

.mTop14 {
  margin-top: 14%;
}

.mTop20 {
  margin-top: 20%;
}

.mTop-10 {
  margin-top: -10%
}

.pFixed {
  position: fixed;
}

.paddingLeft0 {
  padding-left: 0px;
}

.paddingRight0 {
  padding-right: 0px;
}

.paddingRight5 {
	padding-right: 5px;
}

.paddingLeft30 {
	padding-left: 20%;
}

.positionFixed {
  position: fixed;
}

select {
  height: 30px !important;
}

select[multiple] {
  height: 103px !important;
}

.success {
  color: #27e42a;
  margin-right: 10px;
}

.tColorBlack {
  color: #000;
}

.tColorRed {
	color: red;
}

.tColorBlue {
  color: #00c0f2;
}

.tColorWhite {
  color: #fff !important;
}

.tAlignCenter {
  text-align: center;
}

.tAlignRight
{
	text-align: right;
}

.maxWidth {
  width: 100%;
}

.width10{
    width:10%;
}

.width25 {
  width: 25%;
}

.width38 {
  width: 38%
}

.width50 {
  width: 50%;
}

.width65 {
  width: 65% !important;
}

.ok {
  color: #1FA600;
  margin-right: 10px;
}

.row {
    border: 0px;
    width: 100%;
    margin-left: 0px;
}

.modal {
  padding: 0px !important;
}

.panel{
  background-color:#22bdb6;
  color:white;
}

.login-header{
  background-color: #e7e7e7;
  color: #00C0F2;
   height: 50px;
   text-align: center;
   padding: 15px;
   font-size: 18px;

}
.forget-header{
  background-color: #e7e7e7;
  color: #00C0F2;
   height: 50px;
   text-align: center;
   padding: 15px;
   font-size: 18px;

}
#forget>h1{
color:#777 !important;
}

.login-body{
  padding: 15px;
}
.login-body > span{
  color:#eee !important;
}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}