.header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    min-height: 51px;
    background-color: #c1c1c1;
    color: #eee;
}

.leftBar {
    background-color: #eee;
    color: #333;
    position: absolute;
    left: 0;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

.body {
    min-height: 100%;
    background-color: #ecf0f5;;
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
}

.footer {
    background-color: #f9f8f9;
    color: #444;
    border-top: 1px solid #d2d6de;
    -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
    bottom: 0px;
    position:fixed;
    height: 51px;
}

.height25 {
  height: 25px;
}

.hight41 {
  height: 41px;
}

.bottom0 {
  bottom: 0px;
}

.pFixed {
  position: fixed;
}

.bColorYellow {
  background-color: #FF0;
}

.tColorBlack {
  color: #000;
}

.tAlignCenter {
  text-align: center;
}

.maxWidth {
  width: 100%;
}

.width10{
    width:10%;
}

.width25 {
  width: 25%;
}

.width50 {
    width:50%;
}

.mLeft25 {
  margin-left: 25%;
}
